body {
    font-size: 16px;
    color: #fff;
    background-color: #99ca27;
    font-family: 'Oxygen', sans-serif;
    
  }
  #header-nav {
    background-color: rgb(69, 230, 36);
    border-radius: 0;
    border: 0;
  }
  #logo-img img {
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    opacity: .8;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 50px #0f0a0d;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { 
    vertical-align: middle;
  }
  .navbar-brand img {
      width: 50px;
      height: 25px;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #a850a4;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  #collapsable-nav a:hover {
    background-color: wheat;

  }
  
  
  #phone {
    margin-top: 5px;
  }
  #phone a { 
    text-align: right;
    padding-bottom: 0;
  }
  
  #phone div { 
    color: #1b2849;
    text-align: right;
    padding-right: 15px;
  }
  #phone span{
    width: 100px;
    height: 15px;
    color: black;
  }
  #phone a:hover{
    background-color: wheat;
  }
  .deliver {
    background-color: cornsilk;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  .img img {
    width: 35px;
    height: 35px;
    opacity: .8;
    box-shadow: 0 0 50px #0f0a0d;
  }
  
  
  #ch-tile, #bf-tile, #sh-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    box-shadow: 0 0 5px black;
    overflow: hidden;
  }
  #ch-tile:hover, #bf-tile:hover, #sh-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  
  #ch-tile {
    background: url('../img/brosted\ chicken.jfif') no-repeat;
    background-position: center;
    width: 300px;
    height: 150px;
  }
  #bf-tile {
    background: url('../img/beef.jfif') no-repeat;
    background-position: center;
    position: relative;
    left: 75px;
    width: 150px;
    height: 150px;
  }
  #sh-tile {
    background: url('../img/sushi\ 2.jfif') no-repeat;
    background-position: center;
    width: 300px;
    height: 150px;
  }
  
  
  #ch-tile span, #bf-tile span, #sh-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  .panel-footer {
    background-color: rgb(39, 34, 34);
  }
  .panel-footer  {
    font-style: italic;
    opacity: .8;
  }
  .panel-footer span{
    color: rgba(255, 255, 255, 0.726);
  }
  .jnd {
    width: 75px;
    height: 75px;

  }
  .jnd img{
    width: 75px;
    height: 75px;
  
  }
  
 
 
@media (min-width: 1200px) {
    
  }
  
 
  @media (min-width: 992px) and (max-width: 1199px) {
 
    #logo-img img {
        background: url('../img/avardslogo.jfif') no-repeat;
        width: 75px;
        height: 75px;
      }
   
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
     #ch-tile {
        width: 340px;
        height: 150px;
       }
        #bf-tile {
        width: 340px;
        height: 150px;
        position: relative;
        left: 5px;
    }
    #sh-tile {
        width: 725px;
        height: 150px;

    }

    
    
    
    
  }
  
  @media (max-width: 767px) {
    #logo-img img {
        background: url('../img/avardslogo.jfif') no-repeat;
        width: 50px;
        height: 50px;
      }
      
      .navbar-brand {
        padding-top: 10px;
        height: 80px;
      }
      .navbar-brand h1 { 
        padding-top: 10px;
        font-size: 5vw; 
      }
      .navbar-brand p { 
        font-size: .6em;
        margin-top: 12px;
      }
      .navbar-brand p img { 
        height: 20px;
      }
    
      #collapsable-nav a { 
        font-size: 1.2em;
      }
      #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
      }
    
      #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
      }
      #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    #ch-tile {
        width: 700px;
        height: 150px;
    }
    #bf-tile {
        width: 700px;
        height: 150px;
        left: 5px;
    }
    #sh-tile {
        width: 700px;
        height: 150px;
    }
 

  }
  @media (max-width: 479px) {
    .navbar-brand h1 { 
        padding-top: 5px;
        font-size: 6vw;
      }
    
   #ch-tile {
    width: 350px;
    height: 150px;
}
#bf-tile {
    width: 350px;
    height: 150px;
    
}
#sh-tile {
    width: 350px;
    height: 150px;
}
 }